1.Introduction 

This assignment will help you to consolidate the concepts learnt in the session. 

2.Problem Statement 

1.1.1 Write a Python Program to implement your own myreduce() function which works exactly  like Python's built-in function reduce() 

1.1.2 Write a Python program to implement your own myfilter() function which works exactly  like Python's built-in function filter() 


2.2 Implement List comprehensions to produce the following lists.  
Write List comprehensions to produce the following Lists 

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']  

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']  

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],  
[4, 5, 6, 7], [5, 6, 7, 8]] 

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [23]:
#1.1.1
def myreduce(func,iterable):
    '''
    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).
    
    '''
    if type(iterable)==int or type(iterable)==float or type(iterable)==complex:
        print("Type Error: '{}' object is not iterable".format(type(iterable)))
    elif type(iterable)==set:
        s=iterable.pop()
        for ele in range(len(iterable)):
            a=iterable.pop()
            s=func(a,s)
        return s
    elif type(iterable)==dict:
        s=iterable.popitem()[0]
        for ele in range(len(iterable)):
            a=iterable.popitem()[0]
            s=func(a,s)
        return s    
    else:
        s=iterable[0]
        for ele in range(0,len(iterable)-1):
            a,b=s,iterable[ele+1]
            s=func(a,b)
        return s
#Example Using myreduce():-
print("Example Using myreduce() function")
#list
print("Result using List : {}".format(myreduce(lambda x,y:x*y,[2,3,4])))
#dict
print("Result using Dict : {}".format(myreduce(lambda x,y:x*y,{1:3,2:4,3:5})))
#set
print("Result using Set : {}".format(myreduce(lambda x,y:x*y,{2,3,4})))
#tuple
print("Result using Tuple : {}".format(myreduce(lambda x,y:x*y,(1,2,3))))
print("-----------------------------------------------------------------------")
#Example Using reduce():-
from functools import reduce
print("Example Using reduce() function")
#list
print("Result using List : {}".format(reduce(lambda x,y:x*y,[2,3,4])))
#dict
print("Result using Dict : {}".format(reduce(lambda x,y:x*y,{1:3,2:4,3:5})))
#set
print("Result using Set : {}".format(reduce(lambda x,y:x*y,{2,3,4})))
#tuple
print("Result using Tuple : {}".format(reduce(lambda x,y:x*y,(1,2,3))))

Example Using myreduce() function
Result using List : 24
Result using Dict : 6
Result using Set : 24
Result using Tuple : 6
-----------------------------------------------------------------------
Example Using reduce() function
Result using List : 24
Result using Dict : 6
Result using Set : 24
Result using Tuple : 6

In [4]:
#1.1.2
def myfilter(func,iterable):
    '''
    The myfilter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.
    
    function-A Function to be run for each item in the iterable
    
    iterable-The iterable to be filtered
    '''
    if type(iterable)==int or type(iterable)==float or type(iterable)==complex:
        print("Type Error: '{}' object is not iterable".format(type(iterable)))
    elif type(iterable)==set:
        for ele in iterable:
            if func(ele)!=None:
                if type(func(ele))==bool:
                    if func(ele)==True:
                        yield ele
                else:           
                   yield func(ele)
    elif type(iterable)==dict:
        for ele in iterable.keys():
            if func(ele)!=None:
                if type(func(ele))==bool:
                    if func(ele)==True:
                        yield ele
                else:           
                   yield func(ele)  
    else:
        for ele in range(0,len(iterable)):
            if func(iterable[ele])!=None:
                if type(func(iterable[ele]))==bool:
                    if func(iterable[ele])==True:
                        yield iterable[ele]
                else:    
                    yield func(iterable[ele])
#Example:-
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = myfilter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [24]:
#2.2.1
[ele*ele1 for ele in 'xyz' for ele1 in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [25]:
#2.2.2
[ele*ele1 for ele in range(1,5) for ele1 in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [26]:
#2.2.3
[[list([ele+ele1]) for ele in range(2,5) for ele1 in range(0,3)],[list([ele,ele+1,ele+2,ele+3]) for ele in range(2,6)]]

[[[2], [3], [4], [3], [4], [5], [4], [5], [6]],
 [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]]

In [27]:
#2.2.4
[tuple([ele1,ele]) for ele in range(1,4) for ele1 in range(1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]